

.logoimg {
    height: 45px;
    margin: -10px 0px -6px -2px;
    border-radius: 50%;
}

.homeimg{
        max-width: 43%;
        height: auto;
    
    
}
.mtfooter{
    margin-top: 17.777%;
}

.ptmain{
    padding-top: 60px;
}
.ptabout{
    padding-top: 90px;
}